In [2]:
import pandas as pd
df2=pd.read_excel('Train_dataset.xlsx','Diuresis_TS',index_col='people_ID')

In [3]:
df2.dtypes

2020-03-20      int64
2020-03-21    float64
2020-03-22    float64
2020-03-23    float64
2020-03-24    float64
2020-03-25    float64
2020-03-26    float64
dtype: object

In [4]:
df2.head()

,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
people_ID,,,,,,,
1,441,544.2,669.64,821.368,1002.2416,1215.68992,1472.627904
2,151,197.2,253.24,321.688,399.9256,492.91072,606.892864
3,416,515.2,632.44,776.728,947.7736,1150.32832,1395.793984
4,410,506.0,621.40,761.880,928.1560,1126.78720,1368.344640
5,390,483.0,595.00,730.200,892.8400,1084.40800,1315.889600

In [5]:
df3=df2.iloc[:,0:-1]

In [6]:
df3.head()

,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00
people_ID,,,,,,
1,441,544.2,669.64,821.368,1002.2416,1215.68992
2,151,197.2,253.24,321.688,399.9256,492.91072
3,416,515.2,632.44,776.728,947.7736,1150.32832
4,410,506.0,621.40,761.880,928.1560,1126.78720
5,390,483.0,595.00,730.200,892.8400,1084.40800

In [7]:
x=df2.iloc[:,0:-1]

In [8]:
y=df2.iloc[:,-1]

In [9]:
import xgboost as xgb
from xgboost import plot_importance, plot_tree
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [10]:
reg = xgb.XGBRegressor(n_estimators=2000)
reg.fit(x.values, y,verbose=True)

C:\Users\DEEPAK KUMAR\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\DEEPAK KUMAR\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[11:35:22] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=2000,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [11]:
df5=df2.iloc[:,1:]

In [12]:
pred1 = reg.predict(df5.values)

In [13]:
pred1.reshape(-1,1)

array([[1501.436 ],
       [ 740.4225],
       [1501.436 ],
       ...,
       [ 823.685 ],
       [1457.0662],
       [ 836.034 ]], dtype=float32)

In [14]:
v=pd.DataFrame(pred1)

In [15]:
fioo=v.to_csv(r'C:\Users\DEEPAK KUMAR\Desktop\fioo.csv')